a {
  text-decoration: none;
  color: black;
}

.first {
  height: 80px;
  align-items: center;
}
.fs2 .fs3 .fs4 {
  font-size: 12px;
}
.fs1 {
  margin-left: 15px;
  font-size: 20px;
}
.fs4 {
  margin-right: 80px;
}
.fs3 .fs4 {
  margin-left: 5px;
}
.cont1 {
  margin-top: 50px;
  justify-content: center;
  width: 1000px;
}
.myname {
  font-size: 50px;
  font-family: fantasy;
}
.lion {
  width: 330px;
  height: 250px;
  padding-left: 50px;
}
